/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

.button {
    color: #fff;
    background-color: #43A047;
    width: 100px;
    height: 36px;
}