<article class="body">
    <div class="select-language">
        <select placeholder="源" [(ngModel)]="language.from">
            <option value="en">英文</option>
            <option value="zh-CN">中文</option>
        </select>
        <button (click)="toggleFromAndTo()" class="translate-language-btn">
            <img src="assets/img/ter.svg" alt="">
        </button>
        <select placeholder="目标" [(ngModel)]="language.to">
            <option value="en">英文</option>
            <option value="zh-CN">中文</option>
        </select>
    </div>

    <div class="input-text">
        <input [(ngModel)]="needTranlstate" placeholder="原来">
        <button (click)="test($event)" class="search-btn">搜索</button>
    </div>


    <div class="trans" *ngIf="translate">
        <h4>翻译:</h4>
        <div *ngIf="translate">
            <span *ngFor="let item of translate.sentences">
                {{item.trans}}
            </span>
        </div>
    </div>
    <br>
    <a [href]="'http://translate.google.cn/?source=osdd#auto/' + language.to + '/' + needTranlstate" target="_blank">更多</a>
</article>
